* {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display:block;
}
/*---------------------------------

			Font Family is Noto Sans JP

-----------------------------------*/

/*--********************** Universal Styling (begin) ******************--*/

/*--*************** For Sticky Footer --*/
.site {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.site-content {
	flex: 1;
}
/*--*************** End Sticky Footer --*/


/*-- Body --*/
body {
	background-image: url(images/.jpg);
	font-family: 'Noto Sans JP', sans-serif;
	color: white;
}

/*-- Header --*/
header {
	text-align: center;
}

nav, h1 {
	padding: 5% 0;
}

nav ul {
	display: flex;
	justify-content: space-around;
}

nav ul li {
	background-color: black;
	list-style-type: none;
	padding: 2% 3%;
}

nav ul li a {
	color: white;
}

/*-- Main --*/
main, footer {
	padding: 5%;
}

.image-grid figure img{
	max-width: 100%;
}

article {
	padding: 3% 0;
}

/*-- Footer --*/
footer {
	background-color: black;
	display: flex;
	justify-content: space-between;
}

/*--******************** Start 650 Media Query *********************--*/

@media (min-width: 650px){

	.image-grid {
		display: flex;
		flex-wrap: wrap;
	}

	.image-grid figure {
		margin-bottom: -5px;
		width: 50%;
	}

}


/*--********************* End 650 Media Query *********************--*/

/*--******************** Start 950 Media Query *********************--*/

@media (min-width: 950px){

	.image-grid figure {
		width: 33.3333333%;
	}


	nav, h1 {
		padding: 3% 0;
	}

	nav ul li {
		padding: 1% 2%;
	}

	main, footer {
		padding: 3%;
	}


}

/*--********************* End 950 Media Query *********************--*/

/*--******************** Start 1250 Media Query *********************--*/

@media (min-width: 1250px){

	.image-grid figure {
		width: 25%;
	}

}

/*--********************* End 950 Media Query *********************--*/

/*--******************** Start 1500 Media Query *********************--*/

@media (min-width: 1500px){

	main {
		max-width: 1500px;
		margin: auto;
	}

}

/*--********************* End 950 Media Query *********************--*/
